.elementor-211 .elementor-element.elementor-element-dc85666 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 2em;
    --padding-block-end: 2em;
    --padding-inline-start: 2em;
    --padding-inline-end: 2em;
}

.elementor-211 .elementor-element.elementor-element-dc85666:not(.elementor-motion-effects-element-type-background),
.elementor-211 .elementor-element.elementor-element-dc85666>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-900080e);
}

.elementor-211 .elementor-element.elementor-element-dc85666,
.elementor-211 .elementor-element.elementor-element-dc85666::before {
    --border-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-d581a72 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-58f276a {
    text-align: left;
}

.elementor-211 .elementor-element.elementor-element-58f276a img {
    /* width: 40%; */
}

.elementor-211 .elementor-element.elementor-element-58f276a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-211 .elementor-element.elementor-element-a5dc4a5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-f490b61.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-6fb209c);
}

.elementor-211 .elementor-element.elementor-element-f490b61.elementor-view-framed .elementor-icon,
.elementor-211 .elementor-element.elementor-element-f490b61.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-6fb209c);
    color: var(--e-global-color-6fb209c);
    border-color: var(--e-global-color-6fb209c);
}

.elementor-211 .elementor-element.elementor-element-f490b61 {
    --icon-box-icon-margin: 15px;
}

.elementor-211 .elementor-element.elementor-element-f490b61 .elementor-icon {
    font-size: 35px;
}

.elementor-211 .elementor-element.elementor-element-f490b61 .elementor-icon-box-title {
    margin-bottom: 3px;
    color: var(--e-global-color-accent);
}

.elementor-211 .elementor-element.elementor-element-f490b61 .elementor-icon-box-description {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-bd2345e-font-family), Sans-serif;
    font-size: var(--e-global-typography-bd2345e-font-size);
    font-weight: var(--e-global-typography-bd2345e-font-weight);
    line-height: var(--e-global-typography-bd2345e-line-height);
    letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
    word-spacing: var(--e-global-typography-bd2345e-word-spacing);
}

.elementor-211 .elementor-element.elementor-element-e1a41d6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-ca43abb.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-6fb209c);
}

.elementor-211 .elementor-element.elementor-element-ca43abb.elementor-view-framed .elementor-icon,
.elementor-211 .elementor-element.elementor-element-ca43abb.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-6fb209c);
    color: var(--e-global-color-6fb209c);
    border-color: var(--e-global-color-6fb209c);
}

.elementor-211 .elementor-element.elementor-element-ca43abb {
    --icon-box-icon-margin: 15px;
}

.elementor-211 .elementor-element.elementor-element-ca43abb .elementor-icon {
    font-size: 35px;
}

.elementor-211 .elementor-element.elementor-element-ca43abb .elementor-icon-box-title {
    margin-bottom: 3px;
    color: var(--e-global-color-accent);
}

.elementor-211 .elementor-element.elementor-element-ca43abb .elementor-icon-box-description {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-bd2345e-font-family), Sans-serif;
    font-size: var(--e-global-typography-bd2345e-font-size);
    font-weight: var(--e-global-typography-bd2345e-font-weight);
    line-height: var(--e-global-typography-bd2345e-line-height);
    letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
    word-spacing: var(--e-global-typography-bd2345e-word-spacing);
}

.elementor-211 .elementor-element.elementor-element-3b89522 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-73408d0.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-6fb209c);
}

.elementor-211 .elementor-element.elementor-element-73408d0.elementor-view-framed .elementor-icon,
.elementor-211 .elementor-element.elementor-element-73408d0.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-6fb209c);
    color: var(--e-global-color-6fb209c);
    border-color: var(--e-global-color-6fb209c);
}

.elementor-211 .elementor-element.elementor-element-73408d0 {
    --icon-box-icon-margin: 15px;
}

.elementor-211 .elementor-element.elementor-element-73408d0 .elementor-icon {
    font-size: 35px;
}

.elementor-211 .elementor-element.elementor-element-73408d0 .elementor-icon-box-title {
    margin-bottom: 3px;
    color: var(--e-global-color-accent);
}

.elementor-211 .elementor-element.elementor-element-73408d0 .elementor-icon-box-description {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-bd2345e-font-family), Sans-serif;
    font-size: var(--e-global-typography-bd2345e-font-size);
    font-weight: var(--e-global-typography-bd2345e-font-weight);
    line-height: var(--e-global-typography-bd2345e-line-height);
    letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
    word-spacing: var(--e-global-typography-bd2345e-word-spacing);
}

.elementor-211 .elementor-element.elementor-element-0aa78af {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --z-index: 5;
}

.elementor-211 .elementor-element.elementor-element-0aa78af:not(.elementor-motion-effects-element-type-background),
.elementor-211 .elementor-element.elementor-element-0aa78af>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-3bb6169);
}

.elementor-211 .elementor-element.elementor-element-0aa78af,
.elementor-211 .elementor-element.elementor-element-0aa78af::before {
    --border-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-7458cfa {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-navmenu {
    justify-content: start;
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-menu {
    justify-content: start;
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    padding-inline: 20px;
    padding-block: 30px;
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu {
    text-align: left;
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    padding-inline: 20px;
    padding-block: 15px;
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-icon {
    padding-left: 10px;
    color: var(--e-global-color-primary);
    font-size: 13px;
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-menu-text {
    color: var(--e-global-color-secondary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-menu-text:hover {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-menu-text-active {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-dropdown-submenu {
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: var(--e-global-color-900080e);
    gap: 0px;
    border-radius: calc(0px + 1%) calc(0px + 1%) calc(5px + 1%) calc(5px + 1%);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-dropdown-submenu .rkit-submenu-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-dropdown-submenu .rkit-submenu-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text {
    color: var(--e-global-color-accent);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-item {
    background-color: var(--e-global-color-3bb6169);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text:hover {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu:hover>.rkit-item-submenu>.rkit-submenu-text {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu:hover>.rkit-item-submenu>.rkit-submenu-icon {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-item-submenu:hover .rkit-submenu-text {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-item-submenu:hover .rkit-submenu-icon {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-item:hover {
    background-color: var(--e-global-color-3bb6169);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text-active {
    color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-active {
    background-color: var(--e-global-color-3bb6169);
}

.elementor-211 .elementor-element.elementor-element-1c28484 .rkit-btn-hamburger {
    padding: 10px 10px 10px 10px;
    background-color: #ffb901;
    border-style: none;
}

.elementor-211 .elementor-element.elementor-element-0ace185 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-211 .elementor-element.elementor-element-8d63788 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 15px;
    --grid-row-gap: 0px;
}

.elementor-211 .elementor-element.elementor-element-8d63788 .elementor-widget-container {
    text-align: right;
}

.elementor-211 .elementor-element.elementor-element-8d63788 .elementor-social-icon {
    background-color: var(--e-global-color-900080e);
    --icon-padding: 0.7em;
}

.elementor-211 .elementor-element.elementor-element-8d63788 .elementor-social-icon i {
    color: var(--e-global-color-accent);
}

.elementor-211 .elementor-element.elementor-element-8d63788 .elementor-social-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-211 .elementor-element.elementor-element-8d63788 .elementor-social-icon:hover {
    background-color: var(--e-global-color-primary);
}

.elementor-211 .elementor-element.elementor-element-8d63788 .elementor-social-icon:hover i {
    color: var(--e-global-color-accent);
}

.elementor-211 .elementor-element.elementor-element-8d63788 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-accent);
}

@media(max-width:1024px) {
    .elementor-211 .elementor-element.elementor-element-dc85666 {
        --justify-content: space-between;
        --gap: 0px 0px;
        --flex-wrap: wrap;
        --padding-block-start: 2em;
        --padding-block-end: 2em;
        --padding-inline-start: 0em;
        --padding-inline-end: 0em;
    }

    .elementor-211 .elementor-element.elementor-element-d581a72 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
    }

    .elementor-211 .elementor-element.elementor-element-58f276a {
        text-align: left;
    }

    .elementor-211 .elementor-element.elementor-element-58f276a img {
        width: 100%;
    }

    .elementor-211 .elementor-element.elementor-element-f490b61 .elementor-icon {
        font-size: 30px;
    }

    .elementor-211 .elementor-element.elementor-element-f490b61 .elementor-icon-box-description {
        font-size: var(--e-global-typography-bd2345e-font-size);
        line-height: var(--e-global-typography-bd2345e-line-height);
        letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
        word-spacing: var(--e-global-typography-bd2345e-word-spacing);
    }

    .elementor-211 .elementor-element.elementor-element-ca43abb .elementor-icon {
        font-size: 30px;
    }

    .elementor-211 .elementor-element.elementor-element-ca43abb .elementor-icon-box-description {
        font-size: var(--e-global-typography-bd2345e-font-size);
        line-height: var(--e-global-typography-bd2345e-line-height);
        letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
        word-spacing: var(--e-global-typography-bd2345e-word-spacing);
    }

    .elementor-211 .elementor-element.elementor-element-73408d0 .elementor-icon {
        font-size: 30px;
    }

    .elementor-211 .elementor-element.elementor-element-73408d0 .elementor-icon-box-description {
        font-size: var(--e-global-typography-bd2345e-font-size);
        line-height: var(--e-global-typography-bd2345e-line-height);
        letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
        word-spacing: var(--e-global-typography-bd2345e-word-spacing);
    }

    .elementor-211 .elementor-element.elementor-element-0aa78af {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 1em;
        --padding-block-end: 1em;
        --padding-inline-start: 0em;
        --padding-inline-end: 0em;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-navmenu {
        justify-content: start;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-menu {
        justify-content: start;
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        padding-inline: 35px;
        padding-block: 15px;
        background-color: var(--e-global-color-900080e);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu {
        text-align: start;
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        padding-inline: 35px;
        padding-block: 15px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-responsive-menu {
        margin-top: 15px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-responsive-menu .rkit-menu:hover {
        background-color: var(--e-global-color-900080e);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-responsive-menu .rkit-menu-active {
        background-color: var(--e-global-color-900080e);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-dropdown-submenu {
        gap: 0px;
        border-radius: calc(0px + 1%) calc(0px + 1%) calc(0px + 1%) calc(0px + 1%);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-icon {
        font-size: 13px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-dropdown-submenu .rkit-submenu-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-dropdown-submenu .rkit-submenu-item:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text {
        color: var(--e-global-color-accent);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-item {
        background-color: var(--e-global-color-3bb6169);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text:hover {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu:hover>.rkit-item-submenu>.rkit-submenu-text {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu:hover>.rkit-item-submenu>.rkit-submenu-icon {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-item-submenu:hover .rkit-submenu-text {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-item-submenu:hover .rkit-submenu-icon {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-item:hover {
        background-color: var(--e-global-color-3bb6169);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text-active {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-active {
        background-color: var(--e-global-color-3bb6169);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-hamburger-tablet {
        justify-content: end;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-hamburger-mobile {
        justify-content: end;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-btn-hamburger {
        padding: 13px 15px 13px 15px;
        border-radius: 5px 5px 5px 5px;
        font-size: 20px;
        background-color: var(--e-global-color-900080e);
        color: var(--e-global-color-accent);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-btn-hamburger:hover {
        background-color: var(--e-global-color-primary);
        color: var(--e-global-color-accent);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }
}

@media(max-width:767px) {
    .elementor-211 .elementor-element.elementor-element-dc85666 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
    }

    .elementor-211 .elementor-element.elementor-element-d581a72 {
        --justify-content: center;
    }

    .elementor-211 .elementor-element.elementor-element-58f276a {
        text-align: center;
    }

    .elementor-211 .elementor-element.elementor-element-58f276a img {
        width: 80%;
    }

    .elementor-211 .elementor-element.elementor-element-f490b61 {
        --icon-box-icon-margin: 0px;
    }

    .elementor-211 .elementor-element.elementor-element-f490b61 .elementor-icon-box-description {
        font-size: var(--e-global-typography-bd2345e-font-size);
        line-height: var(--e-global-typography-bd2345e-line-height);
        letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
        word-spacing: var(--e-global-typography-bd2345e-word-spacing);
    }

    .elementor-211 .elementor-element.elementor-element-ca43abb {
        --icon-box-icon-margin: 0px;
    }

    .elementor-211 .elementor-element.elementor-element-ca43abb .elementor-icon-box-description {
        font-size: var(--e-global-typography-bd2345e-font-size);
        line-height: var(--e-global-typography-bd2345e-line-height);
        letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
        word-spacing: var(--e-global-typography-bd2345e-word-spacing);
    }

    .elementor-211 .elementor-element.elementor-element-73408d0 {
        --icon-box-icon-margin: 0px;
    }

    .elementor-211 .elementor-element.elementor-element-73408d0 .elementor-icon-box-description {
        font-size: var(--e-global-typography-bd2345e-font-size);
        line-height: var(--e-global-typography-bd2345e-line-height);
        letter-spacing: var(--e-global-typography-bd2345e-letter-spacing);
        word-spacing: var(--e-global-typography-bd2345e-word-spacing);
    }

    .elementor-211 .elementor-element.elementor-element-7458cfa {
        --width: 11%;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-responsive-menu {
        margin-top: 15px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-menu {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        padding-inline: 15px;
        padding-block: 15px;
        background-color: var(--e-global-color-900080e);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-responsive-menu .rkit-menu:hover {
        background-color: var(--e-global-color-900080e);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-responsive-menu .rkit-menu-active {
        background-color: var(--e-global-color-900080e);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        padding-inline: 15px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-icon {
        font-size: 10px;
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text {
        color: var(--e-global-color-accent);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-item {
        background-color: var(--e-global-color-3bb6169);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text:hover {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu:hover>.rkit-item-submenu>.rkit-submenu-text {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu:hover>.rkit-item-submenu>.rkit-submenu-icon {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-item-submenu:hover .rkit-submenu-text {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-item-submenu:hover .rkit-submenu-icon {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-item:hover {
        background-color: var(--e-global-color-3bb6169);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-text-active {
        color: var(--e-global-color-primary);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-submenu-active {
        background-color: var(--e-global-color-3bb6169);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-btn-hamburger {
        padding: 10px 10px 10px 10px;
        font-size: 15px;
        background-color: var(--e-global-color-900080e);
        color: var(--e-global-color-accent);
    }

    .elementor-211 .elementor-element.elementor-element-1c28484 .rkit-btn-hamburger:hover {
        background-color: var(--e-global-color-primary);
        color: var(--e-global-color-accent);
    }

    .elementor-211 .elementor-element.elementor-element-0ace185 {
        --width: 89%;
    }

    .elementor-211 .elementor-element.elementor-element-8d63788 {
        --icon-size: 13px;
    }
}

@media(min-width:768px) {
    .elementor-211 .elementor-element.elementor-element-d581a72 {
        --width: 35%;
    }

    .elementor-211 .elementor-element.elementor-element-a5dc4a5 {
        --width: 18%;
    }

    .elementor-211 .elementor-element.elementor-element-e1a41d6 {
        --width: 30%;
    }

    .elementor-211 .elementor-element.elementor-element-3b89522 {
        --width: 25%;
    }

    .elementor-211 .elementor-element.elementor-element-7458cfa {
        --width: 84%;
    }

    .elementor-211 .elementor-element.elementor-element-0ace185 {
        --width: 16%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-211 .elementor-element.elementor-element-d581a72 {
        --width: 25%;
    }

    .elementor-211 .elementor-element.elementor-element-a5dc4a5 {
        --width: 24%;
    }

    .elementor-211 .elementor-element.elementor-element-e1a41d6 {
        --width: 42%;
    }

    .elementor-211 .elementor-element.elementor-element-3b89522 {
        --width: 42%;
    }

    .elementor-211 .elementor-element.elementor-element-7458cfa {
        --width: 7%;
    }

    .elementor-211 .elementor-element.elementor-element-0ace185 {
        --width: 93%;
    }
}